@page
@using Microsoft.Extensions.Localization
@using AccountManagement.Localization
@using AccountManagement.Web.Pages.AccountManagement
@model AccountManagement.Web.Pages.AccountManagement.IndexModel
@inject IStringLocalizer<AccountManagementResource> L

@{
}
<h1>AccountManagement</h1>
<p>@L["SamplePageMessage"]</p>
