@page "/AccountManagement"
@using Microsoft.Extensions.Localization
@using global::AccountManagement.Localization
@inject IStringLocalizer<AccountManagementResource> L
@{
}
<h1>AccountManagement</h1>
<p>@L["SamplePageMessage"]</p>